<div class="block" id="navbar">
    <nav class="nav is-spaced">
        <div class="nav-left">
        <a href="" class="nav-item">
            <h1 class="title is-4">Snapvox</h1>
        </a>
        </div>

        <div class="nav-center">
        <a href="" class="nav-item">
            <span class="icon">
            <i class="fa fa-github"></i>
            </span>
        </a>
        <a href="" class="nav-item">
            <span class="icon">
            <i class="fa fa-twitter"></i>
            </span>
        </a>
        </div>

        <div class="nav-right nav-menu">
            <a href="/" class="nav-item">Home</a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">More</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="/login">Login</a>
                <a class="navbar-item" href="/register">Create Account</a>
            </div>
        </div>
    </nav>
</div>