<header class="section__header">
    <% include ./partials/navbar.ejs %>
    <div class="columns header">
        <div class="column header__left">
            <div class="content" id="header__title">
                <h1 class="title"> <span>Widen Your Personal</span><span>Horizons with social</span> Media Presence</h1>
            </div>
        </div>
        <div class="column header__right">
            <img src="../static/images/hashtag.svg" alt="">
        </div>
    </div>
</header>