<div class="columns">
    <div class="column left" id="left">
        <div class="parallax_container">
            <div class="proto_container">
                <div class="proto"></div>
                <div class="proto"></div>
                <div class="proto"></div>
                <div class="proto"></div>
                <div class="proto"></div>
            </div>
            <div class="content">
                <h1 class="title">Your Notes Managed Effortless</h1>
                <p>Register Now and let the app remeber your aniverssary</p>
            </div>
        </div>
    </div>
    <div class="column">
        <form class="form" method="POST">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" name="username" type="text" placeholder="Enter Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">Create Password</label>
                <p class="control has-icons-left">
                    <input class="input" id="password" name="password" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-info is-fullwidth" type="submit"></input>
                </div>
            </div>
            <a href="/register" class="link is-center is-link">Not a user ?</a>
        </form>
    </div>
</div>